.navigasi {
    background-color: rgb(185, 106, 80);
    font-size: 100px;
    padding: 20px;
    display: flex;
    gap: 50px;
    font-family:fantasy;
    width: 80%;
    height:100%;
    color: antiquewhite;

}

nav{
    display: flex;
    gap: 5%;
    margin-left: 2%;
    
}



.isi{
    display: flex;
    text-align: center;
   font-size:40px;
   margin-bottom: 0;
   background-color: rgb(202, 133, 133);
   margin-right: 15%;
   margin-left: 15%;
   margin-top: 2%;
}

 .deskripsi{ 
   display: flex;
   font-size:40px;
   margin-bottom: 0;
   margin-left: 15%;
   background-color: rgb(202, 133, 133);
   margin-left: 30%;
   margin-top: 2%;
   margin-right: 50%;
   font-family: Arial, Helvetica, sans-serif;

}


.photo{
    display: fixed;
    align-items: center;
    margin-top: 1%;
    width:30%;
    height:10%;
    margin-left: 0%;
}
*{
    background-color: blanchedalmond;
}